<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myMasternodesOnlineSupplementPublicLabel">Create or edit a Masternodes Online Supplement Public</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!masternodesOnlineSupplementPublic.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="masternodesOnlineSupplementPublic.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_coin">Coin</label>
            <input type="text" class="form-control" name="coin" id="field_coin"
                [(ngModel)]="masternodesOnlineSupplementPublic.coin" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_price">Price</label>
            <input type="text" class="form-control" name="price" id="field_price"
                [(ngModel)]="masternodesOnlineSupplementPublic.price" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_change">Change</label>
            <input type="text" class="form-control" name="change" id="field_change"
                [(ngModel)]="masternodesOnlineSupplementPublic.change" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_volume">Volume</label>
            <input type="text" class="form-control" name="volume" id="field_volume"
                [(ngModel)]="masternodesOnlineSupplementPublic.volume" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_marketcap">Marketcap</label>
            <input type="text" class="form-control" name="marketcap" id="field_marketcap"
                [(ngModel)]="masternodesOnlineSupplementPublic.marketcap" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_roiNodes">Roi Nodes</label>
            <input type="text" class="form-control" name="roiNodes" id="field_roiNodes"
                [(ngModel)]="masternodesOnlineSupplementPublic.roiNodes" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_numberRequired">Number Required</label>
            <input type="text" class="form-control" name="numberRequired" id="field_numberRequired"
                [(ngModel)]="masternodesOnlineSupplementPublic.numberRequired" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_minimumWorth">Minimum Worth</label>
            <input type="text" class="form-control" name="minimumWorth" id="field_minimumWorth"
                [(ngModel)]="masternodesOnlineSupplementPublic.minimumWorth" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_githubPage">Github Page</label>
            <input type="text" class="form-control" name="githubPage" id="field_githubPage"
                [(ngModel)]="masternodesOnlineSupplementPublic.githubPage" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_githubCommits">Github Commits</label>
            <input type="number" class="form-control" name="githubCommits" id="field_githubCommits"
                [(ngModel)]="masternodesOnlineSupplementPublic.githubCommits" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_githubFirstCommit">Github First Commit</label>
            <div class="d-flex">
                <input id="field_githubFirstCommit" type="datetime-local" class="form-control" name="githubFirstCommit" [(ngModel)]="masternodesOnlineSupplementPublic.githubFirstCommit"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_githubLastCommit">Github Last Commit</label>
            <div class="d-flex">
                <input id="field_githubLastCommit" type="datetime-local" class="form-control" name="githubLastCommit" [(ngModel)]="masternodesOnlineSupplementPublic.githubLastCommit"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_notes">Notes</label>
            <input type="text" class="form-control" name="notes" id="field_notes"
                [(ngModel)]="masternodesOnlineSupplementPublic.notes" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
