
<div *ngIf="masternodesOnlineSupplement">
    <h2><span>Masternodes Online Supplement</span> {{masternodesOnlineSupplement.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Coin</span></dt>
        <dd>
            <span>{{masternodesOnlineSupplement.coin}}</span>
        </dd>
        <dt><span>Price</span></dt>
        <dd>
            <span>{{masternodesOnlineSupplement.price}}</span>
        </dd>
        <dt><span>Change</span></dt>
        <dd>
            <span>{{masternodesOnlineSupplement.change}}</span>
        </dd>
        <dt><span>Volume</span></dt>
        <dd>
            <span>{{masternodesOnlineSupplement.volume}}</span>
        </dd>
        <dt><span>Marketcap</span></dt>
        <dd>
            <span>{{masternodesOnlineSupplement.marketcap}}</span>
        </dd>
        <dt><span>Roi</span></dt>
        <dd>
            <span>{{masternodesOnlineSupplement.roi}}</span>
        </dd>
        <dt><span>Nodes</span></dt>
        <dd>
            <span>{{masternodesOnlineSupplement.nodes}}</span>
        </dd>
        <dt><span>Number Required</span></dt>
        <dd>
            <span>{{masternodesOnlineSupplement.numberRequired}}</span>
        </dd>
        <dt><span>Minimum Worth</span></dt>
        <dd>
            <span>{{masternodesOnlineSupplement.minimumWorth}}</span>
        </dd>
        <dt><span>Project Origin</span></dt>
        <dd>
            <span>{{masternodesOnlineSupplement.projectOrigin}}</span>
        </dd>
        <dt><span>Masternodes Online Url</span></dt>
        <dd>
            <span>{{masternodesOnlineSupplement.masternodesOnlineUrl}}</span>
        </dd>
        <dt><span>Github Url</span></dt>
        <dd>
            <span>{{masternodesOnlineSupplement.githubUrl}}</span>
        </dd>
        <dt><span>Github Commits</span></dt>
        <dd>
            <span>{{masternodesOnlineSupplement.githubCommits}}</span>
        </dd>
        <dt><span>Created At</span></dt>
        <dd>
            <span>{{masternodesOnlineSupplement.createdAt | date:'medium'}}</span>
        </dd>
        <dt><span>Pushed At</span></dt>
        <dd>
            <span>{{masternodesOnlineSupplement.pushedAt | date:'medium'}}</span>
        </dd>
        <dt><span>Notes</span></dt>
        <dd>
            <span>{{masternodesOnlineSupplement.notes}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'masternodes-online-supplement/'+ masternodesOnlineSupplement.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
