# Default values for Maven projects.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
replicaCount: 1
image:
  repository: 10.104.167.184:5000/kevinstl/cryptocurrency-services-api-gateway
  tag: 0.0.34
  pullPolicy: IfNotPresent
service:
#  name: cryptocurrency-services-api-gateway
#  type: ClusterIP
  type: NodePort
#  type: LoadBalancer
  externalPort: 8080
  internalPort: 8080
#  nodePort: 30080
  annotations:
    fabric8.io/expose: "true"
    fabric8.io/ingress.annotations: "kubernetes.io/ingress.class: nginx"
#resources:
#  limits:
#    cpu: 500m
#    memory: 512Mi
#  requests:
#    cpu: 400m
#    memory: 512Mi
#probePath: /health
probePath: /
livenessProbe:
#  initialDelaySeconds: 60
  initialDelaySeconds: 180
  periodSeconds: 10
  successThreshold: 1
  timeoutSeconds: 1
readinessProbe:
  periodSeconds: 10
  successThreshold: 1
  timeoutSeconds: 1
terminationGracePeriodSeconds: 10
database: cryptocurrency-services-prod
