<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4">Welcome to Cryptocurrency Services.</h1>
        <p class="lead">We are a resource for cryptocurrency enthusiasts.</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span *ngIf="account"
                   > You are logged in as user "{{account.login}}". </span>
            </div>

        </div>

        <p>
            This site was built using <a href="http://www.jhipster.tech/" target="_blank" rel="noopener">JHipster</a>.
        </p>


        <p>
            <span>All source code for this site is available on </span> <a href="https://github.com/kevinstl/cryptocurrency-services" target="_blank" rel="noopener">GitHub</a>.
        </p>
    </div>
</div>
